.Xcl1DpXp{margin:10px 0}.blI79ndk{display:flex;flex-direction:column}
.qDvcoYS8{display:flex;justify-content:space-between;align-items:center;color:#fff;font-size:1.2em}.gZ14cS2F{max-width:400px;margin:10px auto 20px}.dDPotjc3{text-align:center}.PWzzPN02{text-align:center}.gLjJQBgh{margin:10px 0 10px;text-align:center}.C6JQ9rHb{min-height:200px}
.sZHZRqVf{position:fixed;left:20px;bottom:20px;text-align:center}.FyFRJtQM{font-size:2em;margin-bottom:0 !important}
