.rNCe05Pf{margin:10px 0}.U3Oqjj_B{display:flex;flex-direction:column}
.CkSls3Sn{display:flex;justify-content:space-between;align-items:center;color:#fff;font-size:1.2em}.x7hJIUEE{max-width:400px;margin:10px auto 20px}.YwU6bzeB{text-align:center}.pytPcdVB{text-align:center}.ru3nX5Zv{margin:10px 0 10px;text-align:center}.cyu0AsoL{min-height:200px}
.evBbzr2L{position:fixed;left:20px;bottom:20px;text-align:center}.Dm0z9ETZ{font-size:2em;margin-bottom:0 !important}
.JAe7VmRS{margin-top:.5rem}.ULgqPDKp{padding:0}
.HwW5QnyH{height:100vh}
.VUac6MwZ{max-width:300px}.xBaNXg6D{text-align:center}.vwHEvZV2{margin-top:2rem;text-align:center;font-size:1.125em}.kxmnKCdv{margin-top:1rem;width:100%}
*{margin:0;padding:0;box-sizing:border-box}body{background-color:#f5f5f5}
