.welcome-card {
  max-width: 300px;

  &__title {
    text-align: center;
  }

  &__text {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.125em;
  }

  &__button {
    margin-top: 1rem;
    width: 100%;
  }
}
